<div class="list-group">
<div class="list-group-item media clearfix">
<a class="pull-left">
<i class="avatar-notification"></i>
<img alt="4" class="media-object img-circle" height="64" src="../assets/dresssed/stock/4.jpg" width="64">
</a>
<div class="media-body">
<h4 class="media-heading">Momoko Price</h4>
<small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
</div>
</div>
<div class="list-group-item media clearfix">
<a class="pull-left">
<i class="avatar-notification danger"></i>
<img alt="2" class="media-object img-circle" height="64" src="../assets/dresssed/stock/2.jpg" width="64">
</a>
<div class="media-body">
<h4 class="media-heading">Momoko Price</h4>
<small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
</div>
</div>
<div class="list-group-item media clearfix">
<a class="pull-left">
<i class="avatar-notification warning"></i>
<img alt="4" class="media-object img-circle" height="64" src="../assets/dresssed/stock/4.jpg" width="64">
</a>
<div class="media-body">
<h4 class="media-heading">Momoko Price</h4>
<small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
</div>
</div>
<div class="list-group-item media clearfix">
<a class="pull-left">
<i class="avatar-notification success"></i>
<img alt="1" class="media-object img-circle" height="64" src="../assets/dresssed/stock/1.jpg" width="64">
</a>
<div class="media-body">
<h4 class="media-heading">Momoko Price</h4>
<small class="text-muted">Hey, I have the new designs ready. But I could use some feedback on the color choices.</small>
</div>
</div>
</div>