<hr>

<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
<div class="">
<div class="panel-body">
<div class="row text-center">
<div class="col-xs-12 col-sm-12 col-md-2 col-md-offset-1 col-lg-2">
<span class="metric-value">

</span>
</div>
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
<h4>Number of Dancers</h4>
<span class="metric-value">
<%= content_tag(:h3,"#{contract.number_of_dancers}") %>

</span>

</div>

<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
<h4>Giveaways</h4>
<span class="metric-value">
<%= content_tag(:h3,"#{contract.giveaways}") %>
</span>

</div>
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
<h4>Number of Horns</h4>
<span class="metric-value">
<%= content_tag(:h3,"#{contract.number_of_horns}") %>
</span>

</div>
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
<span class="metric-value">

</span>

</div>

</div>
</div>
</div>
</div>
</div>
