/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require datagrid
 *= require_self
 *= require fullcalendar
 *= require select2
 *= stub "active_admin"
 *= require jquery-ui
 */

.bg {
  background-color: #1565c1 !important; 
  color: white !important ;
}

.Booked {
 background-color: #a4d5a6;
}

.ContractReceived {
  background-color: #006b5f;
}

.HoldMoneyRecd  {
  background-color: #008a7c;
}

.Holdnodep {
  
  background-color: #e53734;
}

.ContractSent {
  background-color: #b51c1c;
}

.ContractRecdWaitingforDep {
  background-color: #4ccfe1;
}

.fc-time-grid .fc-slats td {
    height: 4.5em;
}