<div>
   
   <ul class="list-unstyled pl20">
      <li class="text-grey-200 pt50"><strong><span class="fa fa-home fa-lg"></span>  Home</strong></li>
      <li class="text-grey-200 pt50"><strong><span class="fa fa-calendar fa-lg"></span>  Calendar</li></strong>
      <li class="text-grey-200 pt50"><strong><span class="fa fa-user fa-lg"></span>  Profile</li></strong>
      <li class="text-grey-200 pt50"><strong><span class="fa fa-sign-out fa-lg"></span>  Logout</li></strong>
      <!--<li class="text-grey-200 pt50"><strong>Section 1</li></strong>-->
      <!--<li class="text-grey-200 pt50"><strong>Section 1</li></strong>-->
      <!--<li class="text-grey-200 pt50"><strong>Section 1</li></strong>-->
      </ul>
</div>